@import '../../../index.scss';


.product__card {
  width: 260px;
  height: 410px;
  box-sizing: border-box;
  border: 1px solid;
}
.product__image {
  width: 260px;
  height: 200px;
  // background: $primary-color;
  // background-image: url('');
}
// .product__name {
//   @extend %text-base;
// }
// .product__length {
//   @extend %text-base;
// }
// .product__width {
//   @extend %text-base;
// }
// .product__load {
//   @extend %text-base;
// }
// .product__quantity {
//   @extend %text-base;
// }
// .product__button {
//   @extend %text-base;
// }
