
.pricemin__input {
  border: 1px solid;
}
.pricemax__input {
  border: 1px solid;
}
.categories__form {
  border: 1px solid;
  display: flex;
  flex-direction: column;
}
.reset__form {
  border: 1px solid;
}