.page-top{
  margin-bottom: 3%;
  margin-left: 2%;
}
.order-container{
  width: 100%;
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  .order-items{
    width: 70%;
    margin-left: 2%;
    .order-card{
      padding-top: 2%;
      width: 90%;
      height: 130px;
      border: 1px solid black;
      margin-bottom: 2%;
      display: flex;
      justify-content: space-evenly;
      .card-image{
        object-fit: cover;
        width: 160px;
        height: 110px;
      }
      .order-info{
        .card-title{
          font-weight: 600;
          font-size: 16px;
          line-height: 17px;
          color: #333333;
        }
        .order-amount{
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #828282;
        }
      }
      .choose-amount-block{
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .choose-block{
          width: 100%;
          margin-bottom: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          div{
            background: #dcdcdc;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            font-size: 35px;
            cursor: pointer;
          }
          .choose-number{

          }
        }
        .single-price{
          font-size: 13px;
        }
      }
      .full-price{
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        color: #333333;
      }
    }
  }
  .buy-block{
    width: 20%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    .buy-title{
      margin-left: 3%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .buy-info{
      margin-bottom: 10%;
      .buy-amount-price{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5%;
        .amount{}
        .price{}
      }
      .buy-discount{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5%;
        .discount-title{}
        .discount-number{}
      }
      .buy-delivery{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5%;
        .delivery-title{}
        .delivery-amount{}
      }
    }
    .order-button{
      width: 50%;
      height: 60px;
      cursor: pointer;
      margin-left: 5%;
    }
  }
}
