@import '../../index.scss';

.catalog__wrapper {
  display: flex;
}
.filters__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.categories__block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.catalog__section {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}