* {
  padding: 0;
  margin: 0;
  border: 0;
}
.content{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  .header-container{
    .header-info{
      height: 37px;
      background: rgba(51, 51, 51, 1);
      display: flex;
      flex-direction: row;
      padding-left: 5%;
      .info-item{
        margin-top: 0.5%;
        a{
          font-weight: 400;
          font-size: 14px;
          text-decoration: none;
          color: rgba(250, 250, 250, 1);
        }
      }
      .email {
        margin-left: 5%;
      }
      .phone{
        margin-left: 5%;
      }
      .cart{
        margin-left: 45%;
      }
    }
    .header-main{
      height: 93px;
      border: 1px solid gray;
    }
    //div{
    //  display: flex;
    //  justify-content: space-evenly;
    //}
  }
  .footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: rgba(71, 74, 81, 1);
    display: flex;
    flex-direction: row;
    .footer-bar{
      margin-left: 35.7%;
      margin-top: 2%;
      width: 21%;
      height: 58%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .footer-bar-item{
        margin-bottom: 3%;
        text-decoration: none;
        font-size: 14px;
        color: rgba(229, 229, 229, 1);
      }
    }
    .footer-info{
      margin-top: 2%;
      margin-left: 18%;
      width: 12%;
      height: 64%;
      display: grid;
      grid-template-columns: 1fr 6fr;
      .footer-info-item{
        width: 115%;
        font-size: 14px;
        color: rgba(229, 229, 229, 1);
      }
    }
  }
}
